package: nova
Version: 0.3.8
Section: base
Priority: optional
Architecture: all
Depends: debconf (>= 0.2.26)
Maintainer: Braden Steffaniak braden@novex.tech
Description: Nova language compiler v0.3.8
